doctype html
html
  head
    title= 'Non-Profit Tool'
    meta(name="viewport", content="width=device-width")
    script(async='true', type='text/javascript',src='https://maps.googleapis.com/maps/api/js')
    if process.env.NODE_ENV == 'production'
      link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    meta(name='description' content='Non profit list')
    meta(property='og:title' content='Non profit List')
    meta(property='og:description' content='List of non profits')
  body
    block content
    script(type='text/javascript', src='/app.bundle.js')
