doctype html
html
  head
    title= 'Non-Profit Tool'
    meta(name="viewport", content="width=device-width")
    script(async='true', type='text/javascript',src='https://maps.googleapis.com/maps/api/js')
    if process.env.NODE_ENV == 'production'
      link(rel='stylesheet', href='/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    meta(name='description' content='Export things')
    meta(property='og:title' content='Export things')
    meta(property='og:description' content='Export things')
    meta(property='og:image' content='http://learningdesignprinciples.com/meta-facebook.png')
    meta(property='og:image:height' content='630')
    meta(property='og:image:width' content='1200')
    meta(property='og:url' content='http://learningdesignprinciples.com/')
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@MobilityLabs')
    meta(name='twitter:title' content='Learning Design Principles Tool')
    meta(name='twitter:description' content='Evaluate and Improve Your Learning Experiences for Free')
    meta(name='twitter:image' content='http://learningdesignprinciples.com/meta-twitter.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#007a9c')
    meta(name='apple-mobile-web-app-title', content='Learning Design Principles')
    meta(name='application-name', content='Learning Design Principles')
    meta(name='theme-color', content='#c5e4ed')
  body
    block content
    script(type='text/javascript', src='/app.bundle.js')
