@import '../variables.scss';

.organization-card:hover{
  cursor: pointer;
  background-color: lighten($grey-6, 5%);
  box-shadow:inset 0 0 8px 1px $grey-6;
}
.card-group-vertical .card.expanded{
  border: 1px solid transparent;
  border-top: 1px solid transparent;
  box-shadow:inset 0 0 0px 1px $brand-primary;
  margin-top: -1px;
  &:hover{
    cursor: pointer;
    background-color: lighten($brand-primary, 40%);
  }
  &:first-child{
    margin-top: 0px;
  }
}

.d-none{
  display: none;
}