@import "../variables.scss";

.card-group-vertical{
  display: flex;
  flex-flow: column wrap;
  .card{
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid $grey-6;
    &:first-child{
      border-radius: $border-radius $border-radius 0 0;
    }
    &:last-child{
      border-radius: 0 0 $border-radius $border-radius;
      border-bottom: 1px solid transparent;
    }
  }
}

.list-card-container{
  display: flex;
  justify-content: flex-start;
  .font_normal{
    font-weight: bold;
  }
  dl{
    margin-bottom: .5em;
    &:last-child{
      margin-bottom: 0;
    }
  }
  dt{
    font-weight: normal;
    color: $grey-3;
  }
  dd{
    white-space: pre-wrap
  }
}

.card-container-interaction{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.25em 0 0;
  .form-check-label{
    padding: 0;
    margin-left: 0;
    line-height: 1;
    margin-bottom: .75em;
    input{
      margin: 0;
    }
  }
}
.card-container-company{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.company-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  .company-meta{
    display: flex;
    flex: 2 auto;
    flex-direction: column;
  }
  .company-financials{
    flex: 1 2 15em;
    min-width: 15em;
    text-align: right;
     dd{
      font-family: $font-family-mono;
    }
  }
}
.company-map{
  margin-top: .5em;
  justify-content: space-between;
  display: flex;
  .user-map{
    position: relative;
    overflow: hidden;
    min-height: 15em;
    width: 6em;
    display: inline-flex;
    flex: 1 0;
  }
}